/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1,h2, h4, h5, h6, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption,header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*_______global variables__________*/
$ref-line: black solid 2px;
$def-h: 60vh;
$def-w: 60vw;
/*-------Dimensions and font sizes--*/

body
{
	color: black;
	font-family: Arial, Helvetica, sans-serif;
}

.page-wrapper
{
	position: relative;
}

#send_mail
{
	p
	{
		text-align: center;
	}
	form
	{
		display: flex;
		flex-direction: column;
		align-items: center;
		input[type=email]
		{
			width: 40%;
			margin: 10px;
		}
		input[type=submit]
		{
			width: 10%;
			@media (max-width: 650px) 
			{
				width: 50px;
			}
			border-radius: 3px;
		}
	}
}

#header
{
	position: fixed;
	top: 0;
	min-height: 80px;
	padding: 0 10px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	@media (max-width: 500px) 
	{
		flex-wrap: wrap;
	}
}

#logo
{
	width: $def-w/1.5;

	img 
	{
		width: 100%;
		height: 100%;
		max-width: 400px;
		display: flex;
		justify-content: center;
    	align-items: center;
    	text-align: center;
		margin-left: 10px;
		@media (max-width: 550px) 
		{
     		margin: 0 auto;
    	}	
	}
}

#nav-bar
{
	font-weight: 400;

	@media (max-width: 600px) 
	{
    	margin-top: 10px;
    	display: flex;
    	flex-direction: column;
    	align-items: center;
    	text-align: center;
    	padding: 0 20px;
    li {
     padding-bottom: 5px; 
    }
  }

	ul
	{
		width: ($def-w)-2;
		display: flex;
		flex-direction: row;
		justify-content: space-around;

		@media (max-width: 600px) 
		{
     		flex-direction: column; 
    	}	
	}
}

.wrapper
{
	display: flex;
	flex-direction: column;
	max-width: 1000px;
 	width: 100%;
	margin: 0 auto;
	padding-top: $def-h/2.5;
	
	@media (max-width:600px) 
	{
		padding-top: $def-h;	
	}
}

.flex-flow
{
	display: flex;
	.icon
	{
		width: 20%;
		text-align: center;
		padding-top: 15px;
		@media (max-width: 650px) 
		{
			width: 100%;
		}
	}

	i
	{
		font-size: $def-w/8;
	}
	.text-flow
	{
		width: 80%;
		display: flex;
		flex-direction: row;
		h3
		{
			width: 20%;
			text-align: center;
			@media(max-width: 650px)
			{
				width: 100%;
			}
		}
		p
		{
			padding: 20px;
			width: 80%;
			text-align: justify;
			@media(max-width: 650px)
			{
				width: 100%;
			}
		}
			@media (max-width: 650px) 
			{
				flex-direction: column;
				width: 100%;
				p
				{
					padding: 0;
				}
			}
	}

	@media (max-width: 650px) 
	{
		flex-direction: column;
	}
}

#video_media
{
	margin-top: $def-h/3;
}

#video
{
	display: block;
	margin: 0 auto;
	max-width: 80%;
}

#price_se
{
	margin-top: $def-h/3;
	
	display: flex;
	justify-content: space-around;
	.pricing_s
	{
		width: 30%;
		border-radius: 10px;
	}
	.head,.net_price
	{
		text-align: center;
	}
	.net_price
	{
		font-size: $def-w/9;
	}
	.foot
	{
		text-align: justify;
		position: relative;
		top: $def-h/40;
		margin: 10px;
		overflow: auto;
		@media (max-width:650px) 
		{
			font-size: 12px;
		}
	}
}

footer
{
	width: 100%;
	margin-top: $def-h/10;
	display: flex;
	justify-content: space-around;
	ul
	{
		width: 75%;
		justify-content: space-around;
		display: flex;
		li
		{
			width: 30%;
		}
	}
	span
	{
		width: 25%;
		text-align: justify;
	}
}

/*-------Color schemes and effects---*/

body
{
	background-color:#36454F;
	color: #A7B8C3; 
}

a {
	text-decoration: none;
	color: #C2CED6;
}

a:link
{
	color: #C2CED6;
}

#header
{
	background-color: #485D6A;
	opacity: 0.9;
}